.checkout{
    margin: 80px 0 120px;
    .title{
        font-size: 1.2rem;
        font-weight: 600;
        color: #222;
    }
    label{
        font-weight: 500;
        margin-bottom: 2px;
        padding-left: 1px;
    }
    .form-control{
        border-radius: 2px;
        padding: 9px 5px;
    }
    hr{
        margin: 3rem -24px;
    }
    .card{
        &-body{
            .figure{
                max-width: 120px;
                max-height: 120px;
                padding: 1rem;
                border:1px solid #ddd;
            }
            .content{
                p{
                    margin-bottom: 3px;
                }
                .price{
                    font-weight: 500;
                    svg{
                        font-size: 0.85rem;
                        margin-top: -2px;
                    }
                }
            }
        }
        hr{
            margin: 2rem -1rem;
            &:last-child{
                display: none;
            }
        }
        .order_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;
            p{
                svg{
                    font-weight: 400;
                    font-size: 0.85rem;
                    margin-top: -2px;
                }
            }
        }
        .btn{
            padding: 7px 20px;
            border-radius: 3px;
            background-color: #4226b0;
            &:hover{
                background-color: #3c23a0;  
            }
        }
    }
}
