@import "~bootstrap/scss/bootstrap";
body{
    display: flex;
    flex-direction: column;
    min-height: 100dvb;
    overflow-x: hidden;
}

.breadcrumb-ul{    
      display: flex;
      z-index: 1;
      gap: 1rem;
      li{
        color: #333;
        position: relative;
        a{
            text-decoration: none;
            color: #fff;
        }
      }  
 }
img{
    width: 100%;
    height: auto;
    display: block;
}

